:root {
  --newHeight: 8.3vh;
  --timerWidth: 55vw;
}

a, button, div, input
{
	-ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */
}


html, body {margin: 0; height: 100%; overflow: hidden}

br {
  margin:0;
  padding:0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ededed;
  /* background: linear-gradient(270deg, #354965, #26272F); */
  background-size: 400% 400%;
  animation: AnimationName 0s ease infinite;
  margin:0;
  padding:0;
}

#firstContainer {
  color: #575757;
  background-color: #E94A35;
  position: relative;
  text-align: center;
  float:right;
  width:30%;
  display:none;
}

h6 {
  text-align:center;
  margin:0;
  color:#575757;
  font-size:3vh;
  padding:5%;
  font-weight:100;
  margin-bottom:0;
  padding-bottom:0;
}

#currentDay {
  font-weight:100;
  font-size:3.2vh;
}

#currentDate {
  font-weight:bold;
  font-size:6vh;
}

.weeks {
  font-size:2.2vh;
}


#schoolTitle {
  font-weight: 800;
  font-size:350%;
  vertical-align: center;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left:7%;
  transform: translate(0%, -50%);
}

/* this is the good one for the period title with the suffix thing */

h2 {
  margin: 0;
  font-size: 6vh;
  font-family: 'Yantramanav', sans-serif;
  font-family: "Open Sans", sans-serif;
  display:inline-block;
  vertical-align: middle;
  margin-right: 30px;

  padding-bottom:0;
  margin-bottom:0;

  font-weight:600;

  left:5%;
}

table {
  display:inline-block;
  text-align: left;
  vertical-align: middle;
  margin-left:2vw;
}

th, td, tr
 {
   padding-right: 0px;
   font-size: 2.5vh;
}

td {
  font-size:5vh;
}

.thatLabelThing {
  font-weight:500;
  font-size:75%;
  margin-left:0;
}

.thatEndThing {
  padding-left: 5vw;
  font-size:3vh;
  right:24%;
}

.thatStartThing {
  left: 32%;
}

.startActual {
  left:43%;
  font-family: 'Lato', sans-serif;
}

.endActual {
  right:5.5%;
  font-family: 'Lato', sans-serif;
}

.timer {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans Condensed", sans-serif;
  background-color: transparent;
  display: inline-block;
  color:#575757;
  box-sizing: border-box;
  text-align:center;
  border-radius:5%/75%;
  vertical-align:center;
  vertical-align:middle;
  width: var(--timerWidth);
  margin-top:0;
  position: relative;
  transition: 0.75s;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}


input {
  font-size: 30px;
  margin-top: 40px;
  width: 10vh;
}

.sidebar {
  float:right;
  background-color:transparent;
  padding: 0.85%;
  padding-left:0.5%;
}

:root {
  --thatHeight: 22.71vh;
}

.sidebarSquare {
  box-sizing: border-box;
  background-color: #1c1c1f;
  height: var(--thatHeight);
  width: var(--thatHeight);
  margin-bottom:2vh;
  /*box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);*/
  box-shadow: -6px -6px 20px #0a0a0d, 6px 6px 10px #0f0f0f;
  border-radius:10%;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  background-color:transparent;
}

.sidebarRectangle {
  box-sizing: border-box;
  background-color: #1c1c1f;
  height: calc(var(--thatHeight) * 2 + 2vh);
  width: var(--thatHeight);
  margin-bottom:2vh;
  /*  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
  box-shadow: -6px -6px 20px #0a0a0d, 6px 6px 10px #0f0f0f;
  border-radius:10%/5%;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  background-color:transparent;
}


h3 {
  margin: 0;
  color:#575757;
  text-align:center;
  font-size:4.5vh;
  padding-top: 5%;
  font-weight:100;
}

h4 {
  color:#575757;
  text-align:center;
  font-size: 150%;
  font-weight: 100;
}

#currentTime {
  margin-top:3.75vh;
  margin-bottom: 5vh;
  /*box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); */
  font-size:3vh;
  width:70%;
  text-align:center;
  border-radius:10px;
  vertical-align:middle;
  padding:5px;
}

#timeLabel {
  font-weight:100;
  font-size:3.25vh;
  padding-top:2vh;
}

#topTime {
  font-size:6vh;
  font-weight: bold;
  margin-top: 0.5vh;
  margin-bottom: 0;
  padding-bottom:0;
}

#bottomTime {
  padding-top:0;
  margin-top:0;
  font-size:5vh;
  font-weight:bold;
}

#currentDateAndDay {
  margin-top:0vh;
/*  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2); */
  font-size:3vh;
  width:80%;
  text-align:center;
  border-radius:10px;
  vertical-align:middle;
  padding:5px;
}

:root {
  --radio: 6vh;
}

.radioDiv {
  text-align:center;
}

.radioLabels {
  display:inline-block;
  vertical-align:middle;
  color:#575757;
  font-size:4vh;
  margin:0;
  padding:0;
  margin-right: 2vh;
  font-weight:400;
}


.radioOuter {
  height: var(--radio);
  width: var(--radio);
  background-color:transparent;
  border-radius:50%;
  cursor:pointer;
  display:inline-block;
  vertical-align:middle;
  position: relative;

  box-shadow: -6px -6px 10px #262626, 6px 6px 10px #0f0f0f;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.radioOuter:hover {
  transform: scale(1.05);
}

.radioInner {
  height: calc(var(--radio) / 2);
  width: calc(var(--radio) / 2);
  background-color:gray;
  border-radius:50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:none;
}

.singleRadio {
  margin-top: 2.5vh;
  margin-bottom:3.5vh;
  position:relative;
}

.radioTooltip {
  position:absolute;
  background-color:#575757;
  z-index:10;
  vertical-align: middle;
  top:15%;
  left:-50%;
  padding:5%;
  display:none;
}

.radioOuter:focus + .radioTooltip {
  display:block;
}

#cycleDayOutput {
  color: #575757;
  text-align:center;
  font-size:11vh;
  margin-top:2vh;
  padding-top:0;
  font-weight:400;
}

#lastUpdated {
  color: #575757;
  text-align:center;
  margin-top:1.0vh;
  padding-top:0;
  font-weight:400;
  margin-bottom:0;

  font-size:1.5vh;
}

button {
  padding: 9.75%;
  margin: 0%;
  cursor:pointer;
  outline:none;
  background-color:transparent;
  border:none;
  color:#575757;
  box-shadow: -2px -6px 7px #212121, 6px 6px 10px #0f0f0f;
  box-shadow: -6px -6px 10px #212121,  6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: 0s;
  width: calc(var(--thatHeight) / 2.22);
  height: calc(var(--thatHeight) / 2.22);
  margin-left:0;
  margin-right:1.35vh;
  margin-bottom:calc(1.35vh * 1.5);
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  display:inline-block;
  vertical-align: middle;
  text-align:center;
  font-size:2vh;
}

.rightButtons {
  margin-right:0;
}

button:hover {
  outline:none;

  transform: scale(1.03, 1.03);
}

#progressOuter, #summerOuter {
  background-color:transparent;
  margin-top:1vh;
  width:70%;
  height:30%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, 0%);
  box-shadow: -6px -6px 10px #262626, 6px 6px 10px #0f0f0f;
  z-index:10;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

#progressInner, #summerInner {
  background-color: #E94A35;
  width:10%;
  height:100%;
  z-index:-1;
  transition: 0.25s;
}

#progress, #year {
  position:relative;
}

#summerNumber, #dayProgressLabel {
  position:absolute;
  float:bottom;
  bottom:5%;

  left: 50%;
  transform: translate(-50%, 0%);
}

#settingsDiv {
  background-color:transparent;
  box-shadow:none;
}

#weeksOutput {
  font-size:500%;
  margin-top:0;
}

#timerHeader {
  background-color: #E94A35;
  color:white;
  z-index: 10;
  transition:0s;
  display: block;
  z-index: 5;
  position: relative;
}

#timerHeader:hover {
transform: translate(0px, -25px);
    box-shadow:none;
}

#behind:hover ~ #timerHeader {
  transform: translate(0px, -25px);
}

#behind {
  position: absolute;
  top:0px;
  height:var(--newHeight);
  padding:0;
}

#behindText {
  position: absolute;
  bottom: 3px;
  text-align:center;
  margin:0;
  padding:0;
  font-size:10px;
  color:gray;
  left: 50%;
  transform: translate(-50%, 00%);
}


.scheduleHeader {
  padding-top:2vh;
}


.timerText {
  font-size:2.5vw;
  text-align: center;
  vertical-align: middle;

  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

#cycleLabel {
  display:inline-block;
}

#cycleLabel {
  padding-top:2vh;
}

#refresh {
  color:blue;
  display:inline-block;
  font-size:3vh;
  padding-right:0;
  margin-rigth:0;
  transition:0.15s;
}

#refresh:hover {
  transform: scale(1.25);
  cursor:pointer;
}

#uisounds, #soundLabel {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

#uisounds {
  width: 20px;
  height: 20px;
  margin-right:20px;
}


  body {
    margin: 0;
  }

  #revealText {
    color: #5e6570;
    font-family: Arial;
    font-size: 3vh;
    font-weight: Bold;
    opacity: 0;
    transition: 5s;
    text-decoration: underline;
  }

  a:hover{
    cursor:pointer;
  }

  #back {
    background-color: #150d0e;
    height: 100vh;
    width: 100vw;
    z-index:99;
  }

  video {
    width: 75vw;
    outline: 0;
    border: 0;
    transition: 5s;
    opacity: 0;
  }

  video:focus {
    outline: 0;
  }

.popup {
  position:absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display:block;
  height:70vh;
  width:60vw;
  background-color:white;
  padding:3vh;
  text-align: left;
  border-radius:20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: left 550ms ease;
}

.popupheader {
  margin:0;
  padding:0;
  font-size:6vh;
  font-weight:400;
  display:inline-block;
  color:#575757;
}

.popuplabel {
  margin:0;
  color:#575757;
  font-size:3vh;
  font-weight:100;
  margin-bottom:1vh;
  padding-bottom:0;
  margin-top: 7vh;
}

.x {
  float:right;
  outline:none;
  border:none;
  height:5vh;
  width:5vh;
  text-align: center;
  vertical-align: middle;
  font-size: 5vh;
  padding: 0;
  background-color:transparent;
  transition: .2s ease-in-out;
  z-index:9999;
  display:inline-block;
  color:#575757;
}

.x:hover {
  cursor:pointer;
}

.stat {
  font-size: 50px;
}

hr {
  width:10%;
  margin-left: 0px;
  border:10px solid #E94A35;
  border-radius: 5px;
  margin-bottom: 5vh;
  margin-top:2vh;
}

select {
  margin:0;
  color:#575757;
  font-size:2vh;
  font-weight:100;
  margin-bottom:0;
  margin-top:1vh;
  padding:1.5vh;
  background-color:transparent;
}

select:focus {
  outline:none;
}

.popupSquare {
  display:inline-block;
  margin: 3vh;
  text-align: center;
  padding: 3vh;
}

.requestButton {
  /* width: 30%; */
  width: 30%;
  text-align:center;
  border-radius:2vh;
  font-size:4vh;
  color:#575757;
  /* padding-top:1vh; */
  /* padding-bottom:1vh; */
  margin-bottom: 1.5vh;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.requestButton:hover {
  cursor:pointer;
}

/* style for covid cases button */
.requestButtonCases {
  /* width: 30%; */
  width: 40%;
  text-align:center;
  border-radius:2vh;
  font-size:4vh;
  color:#575757;
  /* padding-top:1vh; */
  /* padding-bottom:1vh; */
  margin-bottom: 1.5vh;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}
.requestButtonCases:hover {
  cursor:pointer;
}


h5 {
  color: #575757;
  font-weight:thin;
  font-family:Arial;
}

#schoolOver {
  font-size:20vh;
  margin:0;
  padding-top:25vh;
  padding-left:5vh;
  display:none;
}

@media only screen and (max-width: 1000px) {
  #schoolOver {
    font-size:10vh;
  }/*
  .sidebarSquare {
    height: 20vh;
    width: 20vh;
  }
  .sidebarRectangle {
    height: 40vh;
    width: 20vh;
  } */
  .sidebar {
    transform: scale(0.75);
  }
  #fullSidebar {
    padding:0;
  }
  .sidebarSquare {
    width: 21vh;
  }
  button {
    width: 9.6vh;
  }
}


.cycleDivs{
  display:inline-block;
  margin: 3vh;
  text-align: center;
}

.cycleOutputs {
  color: #575757;
  text-align:center;
  font-size:11vh;
  margin:0;
  margin-top:2.5vh;
  padding-top:0;
  font-weight:400;
}

#cycleDiv {
  height: 45vh;
}

#cycle {
  transition:0.1s
}

input[type=color] {
  display: inline-block;
  width: 8.5vh;
  height:8.5vh;
  vertical-align: middle;
  clear: none;
  margin:0;
  border:none;
  padding:none;
  background-color:transparent;
}

input[type=color]:focus {
  outline:none;
}

input[type=color]:hover {
  cursor:pointer;
}


select {
  display: inline-block;
  height:8vh;
  vertical-align: middle;
  clear: none;
  margin:0;
}

select:hover {
  cursor:pointer;
}


p {
  display:inline-block;
  font-size:5vh;
  vertical-align: middle;

  color:#575757;
  font-size:3vh;
  font-weight:100;
  padding-bottom:0;
  margin-left:20px;
}

.colorElement {
  display: inline-block;
  padding: 20px;
  margin-top:1vh;
  margin-right:1vh;
  text-align: center;
}


#snow { /* SNOW EFFECT CSS   */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
} 

.pointer {
  cursor: pointer;
}

.highlightColor:hover {
  color: #71CB78;
}



/* RAIN EFFECT */
